@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.todoWrapper {
  background-color: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.todoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todoForm input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 310px;
  color: #fff;
}

.todoForm input::placeholder {
  color: #ffffff4d;
}

.todoForm button {
  background-color: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.todoItem-content-p {
  flex-grow: 1;
  margin: 0 10px;
  text-align: left;
  /* text-decoration-color: #1a1a40; */
}

.todoItem2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1a1a40;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 1px solid #8758ff;
}

.todoItem-content-input {
  flex-grow: 1;
  margin-right: 10px;
  text-align: left;
  background: none;
  color: #fff;
  outline: none;
  box-shadow: none;
  border: 0;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.todoItem-content-input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.todoItem2 span,
.todoItem span {
  display: flex;
  align-items: center;
}

.todoItem span:hover {
  color: #1a1a40;
}

.todoItem2 span:hover {
  color: #8758ff;
}
.todoItem-input,
.todoItem-edit,
.todoItem-delete {
  cursor: pointer;
}

.todoItem input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  appearance: none;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: transparent;
  border-color: #fff;
}

input[type="checkbox"]:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  color: #fff; /* 对勾颜色与边框一致 */
}

input[type="checkbox"]:hover {
  border-color: #1a1a40; /* 选中时边框颜色 */
}

input[type="checkbox"]:hover::before {
  color: #1a1a40; /* 选中时边框颜色 */
}
